[submodule "lorc/themes/themes/hugo-coder"]
	path = lorc/themes/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "port-/public"]
	path = port-/public
	url = https://github.com/lorchewy/lorc.github.io.git
	branch = main
